<div *ngIf="flowerMessageService.flowerMessages.length">
  <h2> Flower Messages </h2>
  <button class="clear" (click)=flowerMessageService.clear()>clear </button>
  <div *ngFor='let flowerMessage of flowerMessageService.flowerMessages'>{{flowerMessage}} </div>
</div>
