<h1>{{title}}</h1>
<!-- <app-flowers></app-flowers> -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/flowers">Flowers</a>
</nav>
<router-outlet></router-outlet>
<app-flower-messages></app-flower-messages>
