<div class="container">
  <div *ngIf="flower">
    <div class="row">
      <div class="col-sx-12 col-sm-12 col-lg-12 back-color">
        <h2 class="text-pos">{{flower.name | uppercase}} Details</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sx-5 col-sm-5 col-lg-5">
        <span>id: </span>{{flower.id}}
        <p>
          <label>name:
            <input [(ngModel)]="flower.name" placeholder="name" />
          </label>
        </p>
      </div>
      <div class="col-sx-7 col-sm-7 col-lg-7">
        <img [src]=" flower.url" class="img-responsive" alt="flower.name" [ngStyle]="{'height': '350px'}">
      </div>

    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>
