<div id="search-component">
  <h4>Flower Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let flower of flowers$ | async">
      <!-- The $ is a convention that indicates flowers$ is an Observable, not an array. -->
      <a routerLink="/detail/{{flower.id}}">
        {{flower.name}}
      </a>
    </li>
  </ul>
