<h3>Most valuable Flowers</h3>
<div class="grid grid-pad">
  <a *ngFor="let flower of flowers" class="col-1-5" routerLink="/detail/{{flower.id}}">

    <div class="module flower">
      <h4>{{flower.name}}</h4>
    </div>
  </a>
</div>
<app-flower-search></app-flower-search>
