<h2>My Flowers</h2>

<div>
  <label>Flower name:
    <input #FlowerName />
  </label>
  <button (click)="add(FlowerName.value); FlowerName.value=''">
    add
  </button>
</div>

<ul class="flowers">
  <li *ngFor="let flower of flowers">
    <a routerLink="/detail/{{flower.id}}">
      <span class="badge">{{flower.id}}</span> {{flower.name}}
    </a>
    <button class="delete" title="delete flower" (click)="delete(flower)">x</button>
  </li>
</ul>


<!--
<app-flower-detail [flower]="selectedFlower"></app-flower-detail> -->

<!-- <div *ngIf="selectedFlower">
  <h2>{{selectedFlower.name | uppercase}} Details </h2>
  <div><span>id:</span>{{selectedFlower.id}}</div>
  <div><span>name:</span>{{selectedFlower .name}}</div>

  <div>
    <label>name:
      <input [(ngModel)]="selectedFlower.name" placeholder="selectedFlower.name">
    </label>
  </div>
</div>
 -->
